<div class="clearfix">
  <h1 class="pull-left"><%= @marathon.name %></h1>
  <%= link_to 'Back', marathons_path, class: 'btn btn-default pull-right' %>
</div>

<div class="row">
  <nav class="col-xs-3">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" class="active"><%= link_to 'Overview', '#' %></li>
      <li role="presentation"><%= link_to 'Settings', edit_marathon_path(@marathon) %></li>
    </ul>
  </nav>

  <div class="col-xs-9">
    <p>Status: <%= @marathon.started? %></p>
    <p>Registration for this marathon: <%= @marathon.registration? %></p>
    <p>Exercises: <%= @exercises %></p>
    <p>Teams playing: <%= @teams %></p>
  </div>
</div>
