<!DOCTYPE html>
<html>
<head>
  <title>Pragramming Marathon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid container-max-size">
  <%= render 'layouts/menu' if user_signed_in? %>
  <%= render 'layouts/flashes' if user_signed_in? %>
  <%= content_for?(:main) ? yield(:main) : yield %>
</div>

</body>
</html>
