<%= content_for :main do %>
<div class="clearfix">
  <h1 class="pull-left"><%= @marathon.name %></h1>
  <%= link_to 'Back to marathons list', marathons_path, class: 'btn btn-default pull-right' %>
</div>

<div class="row">
  <nav class="col-xs-3">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" class="active">
        <%= link_to '#' do %>
          <span class="glyphicon glyphicon-th-list"></span> Overview
        <% end %>
      </li>
      <li role="presentation">
        <%= link_to marathon_path(@marathon, marathon: { started: !@marathon.started }), method: :put, data: {confirm: 'Are you sure?'} do %>
          <span class="glyphicon glyphicon-<%= @marathon.started ? 'remove' : 'ok' %>"></span>
          <%= @marathon.started ? 'Stop' : 'Start' %> marathon
        <% end %>
      </li>
      <li role="presentation">
        <%= link_to marathon_path(@marathon, marathon: { can_register: !@marathon.can_register }), method: :put do %>
          <span class="glyphicon glyphicon-<%= @marathon.can_register ? 'thumbs-down' : 'thumbs-up' %>"></span>
          <%= @marathon.can_register ? 'Close' : 'Open' %> teams registration
        <% end %>
      </li>
      <li role="presentation">
        <%= link_to edit_marathon_path(@marathon) do %>
          <span class="glyphicon glyphicon-cog"></span> Settings
        <% end %>
      </li>
    </ul>
  </nav>

  <div class="col-xs-9">
    <%= yield %>
  </div>
</div>
<% end %>

<%= render template: 'layouts/application' %>
